In [1]:
#Dependancies
import requests
import pandas as pd
import json
from config import college_scorecard_api_key

In [2]:
# Call in 2017 'College Scorecard (i.e. csc)' API ; only schools that offer a bachelor's or graduate degree
year = "2017"
csc_url = "https://api.data.gov/ed/collegescorecard/v1/schools.json?school.degrees_awarded.highest=3,4&"

csc_2017_query_url = f'{csc_url}api_key={college_scorecard_api_key}&_fields=id,school.name,school.city,school.state_fips,school.zip,location.lat,location.lon,{year}.aid.loan_principal'
csc_2017_response = requests.get(csc_2017_query_url).json()
page_num = csc_2017_response['metadata']['page']


for page in range(0, 10):
    csc_2017_response = requests.get(csc_2017_query_url, params={'page': page, 'per_page': 100}).json()
    csc_json_data = csc_2017_response['results']
    #print(str(csc_json_data))

In [3]:
data_frame = pd.DataFrame(csc_json_data)
data_frame

,school.zip,location.lat,location.lon,school.name,school.state_fips,id,school.city,2017.aid.loan_principal
0,91711-3199,34.107602,-117.715256,Claremont School of Theology,6,124283,Claremont,NaN
1,90601,33.978773,-118.032299,Whittier College,6,125763,Whittier,18250.0
2,92618-3601,33.658464,-117.760902,Western State College of Law at Argosy University,6,126030,Irvine,15585.0
3,92101,32.710140,-117.154191,Thomas Jefferson School of Law,6,126049,San Diego,NaN
4,80302-6697,40.014235,-105.266987,Naropa University,8,127653,Boulder,16125.0
...,...,...,...,...,...,...,...,...
95,98033,47.657502,-122.195774,Northwest University-College of Adult and Prof...,53,487603,Kirkland,13000.0
96,22030-0000,38.849050,-77.347751,Virginia International University,51,460376,Fairfax,NaN
97,78224,29.304762,-98.524170,Texas A&M University-San Antonio,48,459949,San Antonio,6700.0
98,38163,35.140231,-90.033138,The University of Tennessee Health Science Center,47,487010,Memphis,12500.0
99,92106,32.732001,-117.217661,High Tech High Graduate School of Education,6,485403,San Diego,NaN

In [4]:
fips_path = "Resources/State FIPS Codes.csv"
fips_states_df = pd.read_csv(fips_path)
fips_codes = fips_states_df['State Code'].tolist()

fips_states_df.head()

   State Name State Abbrev  State Code
0     Alabama           AL           1
1      Alaska           AK           2
2     Arizona           AZ           4
3    Arkansas           AR           5
4  California           CA           6

### Henock's Code - Start

### Henock's Code - End

----------------------------------------------

### JJ's Code - Start

### JJ's Code - End

----------------------------------------------

### Ana's Code - Start

### Ana's Code - End

----------------------------------------------

### Vikash's Code - Start

### Vikash's Code - End